@import "foundation_and_overrides";

.article-connection {
  height: 10rem;
}

.sidebar {
  padding: {
    top: 2rem;
    bottom: 2rem;
  }
  min-height: 100vh;
  background-color: $vapor;

  .button {
    text-transform: uppercase;
  }
}

.opening {
  height: 60vh;
  margin: {
    bottom: 4rem;
  }
}

.meta {
  padding: {
    top: 2rem;
    bottom: 1rem;
  }
}

.article-meta {
  .subheader {
    line-height: .5;
  }

  margin: {
    top: 1rem;
  }
}

.head {
  color: $jet;
}

article {
  padding: {
    bottom: 2rem;
  }
}

footer {
  padding: {
    top: 2rem;
    bottom: 2rem;
  }
  background-color: $vapor;
  min-height: 30vh;

  h5 {
    text-transform: uppercase;
  }
}
